Chapter/P1_Arduino.json
[{"id":"9abca741.1b19d8","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"460feb38.9b7b64","type":"comment","z":"9abca741.1b19d8","name":"Reading analog inputs","info":"","x":400,"y":140,"wires":[]},{"id":"bd0e8c9e.d0c03","type":"modbus-read","z":"9abca741.1b19d8","name":"Inputs","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"20","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"241697c1.60f0e8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":120,"y":200,"wires":[["1b8127b9.6a2278","a7582084.8e89e","82e7a6c8.a1b508","eba08a49.346e48","56f523ca.d13fcc","9c2a59e3.d78de8","a21e9a6e.280968","1790e2b7.a3e9ed","7f1b9686.09eff8","99c702b7.704bd"],["64ae6e0e.3fe85"]]},{"id":"1b8127b9.6a2278","type":"change","z":"9abca741.1b19d8","name":"TC01.PV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":180,"wires":[["1a77b573.04bf7b"]]},{"id":"64ae6e0e.3fe85","type":"modbus-response","z":"9abca741.1b19d8","name":"","registerShowMax":20,"x":350,"y":820,"wires":[]},{"id":"1a77b573.04bf7b","type":"ui_gauge","z":"9abca741.1b19d8","name":"TI01","group":"e917dabc.6439d8","order":0,"width":"3","height":"3","gtype":"gage","title":"TI01","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":180,"wires":[]},{"id":"a7582084.8e89e","type":"change","z":"9abca741.1b19d8","name":"FC02.PV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":240,"wires":[["b61061e1.d855d"]]},{"id":"b61061e1.d855d","type":"ui_gauge","z":"9abca741.1b19d8","name":"FI02","group":"e917dabc.6439d8","order":0,"width":"3","height":"3","gtype":"gage","title":"FI02","label":"lts/min","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":240,"wires":[]},{"id":"82e7a6c8.a1b508","type":"change","z":"9abca741.1b19d8","name":"PC03.PV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[2]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":300,"wires":[["4dd74c63.497a64"]]},{"id":"4dd74c63.497a64","type":"ui_gauge","z":"9abca741.1b19d8","name":"PI03","group":"e917dabc.6439d8","order":0,"width":"3","height":"3","gtype":"gage","title":"PI03","label":"psi","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":300,"wires":[]},{"id":"eba08a49.346e48","type":"change","z":"9abca741.1b19d8","name":"SC04.PV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[3]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":360,"wires":[["1e986172.c1504f"]]},{"id":"1e986172.c1504f","type":"ui_gauge","z":"9abca741.1b19d8","name":"SI04","group":"e917dabc.6439d8","order":0,"width":"3","height":"3","gtype":"gage","title":"SI04","label":"RPM","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":360,"wires":[]},{"id":"56f523ca.d13fcc","type":"change","z":"9abca741.1b19d8","name":"YC06.PV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[10]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":520,"wires":[["f7b527d.e576cd8"]]},{"id":"f7b527d.e576cd8","type":"ui_gauge","z":"9abca741.1b19d8","name":"YI06","group":"a2ae5cf1.48429","order":0,"width":"2","height":"2","gtype":"donut","title":"YI06","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":520,"wires":[]},{"id":"6f7739e1.688408","type":"comment","z":"9abca741.1b19d8","name":"Reading digital inputs","info":"","x":400,"y":480,"wires":[]},{"id":"9c2a59e3.d78de8","type":"change","z":"9abca741.1b19d8","name":"YC07.PV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[11]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":580,"wires":[["a9a52cfb.cdf13"]]},{"id":"a9a52cfb.cdf13","type":"ui_gauge","z":"9abca741.1b19d8","name":"YI07","group":"a2ae5cf1.48429","order":0,"width":"2","height":"2","gtype":"donut","title":"YI07","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":580,"wires":[]},{"id":"a21e9a6e.280968","type":"change","z":"9abca741.1b19d8","name":"YC08.PV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[12]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":640,"wires":[["eed3e3ed.33f0f"]]},{"id":"eed3e3ed.33f0f","type":"ui_gauge","z":"9abca741.1b19d8","name":"YI08","group":"a2ae5cf1.48429","order":0,"width":"2","height":"2","gtype":"donut","title":"YI08","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":640,"wires":[]},{"id":"1790e2b7.a3e9ed","type":"change","z":"9abca741.1b19d8","name":"YC09.PV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[13]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":700,"wires":[["57f1815e.0e07c"]]},{"id":"57f1815e.0e07c","type":"ui_gauge","z":"9abca741.1b19d8","name":"YI09","group":"a2ae5cf1.48429","order":0,"width":"2","height":"2","gtype":"donut","title":"YI09","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":700,"wires":[]},{"id":"7f1b9686.09eff8","type":"change","z":"9abca741.1b19d8","name":"VC05.PV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[4]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":420,"wires":[["aa740359.0203"]]},{"id":"aa740359.0203","type":"ui_gauge","z":"9abca741.1b19d8","name":"VI04","group":"e917dabc.6439d8","order":0,"width":"3","height":"3","gtype":"gage","title":"VI04","label":"mm/s","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":420,"wires":[]},{"id":"99c702b7.704bd","type":"change","z":"9abca741.1b19d8","name":"YC10.PV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[14]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":760,"wires":[["327b7c62.bebce4"]]},{"id":"327b7c62.bebce4","type":"ui_gauge","z":"9abca741.1b19d8","name":"YI10","group":"a2ae5cf1.48429","order":0,"width":"2","height":"2","gtype":"donut","title":"YI10","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":760,"wires":[]},{"id":"4dac2e2b.3bbaa","type":"modbus-write","z":"9abca741.1b19d8","name":"Outputs Analog","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"5","quantity":"1","server":"241697c1.60f0e8","emptyMsgOnFail":false,"keepMsgProperties":false,"x":400,"y":940,"wires":[[],[]]},{"id":"e5fdbceb.fac86","type":"ui_slider","z":"9abca741.1b19d8","name":"","label":"TC01.SP","tooltip":"","group":"37f8be19.0133e2","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":170,"y":940,"wires":[["4dac2e2b.3bbaa"]]},{"id":"97bd14ab.d43718","type":"ui_slider","z":"9abca741.1b19d8","name":"","label":"FC02.SP","tooltip":"","group":"37f8be19.0133e2","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"150","step":1,"x":180,"y":1020,"wires":[["51980708.a47e08"]]},{"id":"afa560e8.8cb4f","type":"ui_slider","z":"9abca741.1b19d8","name":"","label":"PC03.SP","tooltip":"","group":"37f8be19.0133e2","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"200","step":1,"x":160,"y":1100,"wires":[["228656f6.e31dba"]]},{"id":"798d20cb.18c6c","type":"ui_slider","z":"9abca741.1b19d8","name":"","label":"SC04.SP","tooltip":"","group":"37f8be19.0133e2","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"1000","step":1,"x":160,"y":1180,"wires":[["6a7fe633.589c98"]]},{"id":"ad8b86ef.ed3c38","type":"ui_slider","z":"9abca741.1b19d8","name":"","label":"VC05.SP","tooltip":"","group":"37f8be19.0133e2","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"10","step":1,"x":160,"y":1260,"wires":[["931fdbeb.938448"]]},{"id":"51980708.a47e08","type":"modbus-write","z":"9abca741.1b19d8","name":"Outputs Analog","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"6","quantity":"1","server":"241697c1.60f0e8","emptyMsgOnFail":false,"keepMsgProperties":false,"x":400,"y":1020,"wires":[[],[]]},{"id":"228656f6.e31dba","type":"modbus-write","z":"9abca741.1b19d8","name":"Outputs Analog","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"7","quantity":"1","server":"241697c1.60f0e8","emptyMsgOnFail":false,"keepMsgProperties":false,"x":400,"y":1100,"wires":[[],[]]},{"id":"6a7fe633.589c98","type":"modbus-write","z":"9abca741.1b19d8","name":"Outputs Analog","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"8","quantity":"1","server":"241697c1.60f0e8","emptyMsgOnFail":false,"keepMsgProperties":false,"x":400,"y":1180,"wires":[[],[]]},{"id":"931fdbeb.938448","type":"modbus-write","z":"9abca741.1b19d8","name":"Outputs Analog","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"9","quantity":"1","server":"241697c1.60f0e8","emptyMsgOnFail":false,"keepMsgProperties":false,"x":400,"y":1260,"wires":[[],[]]},{"id":"9af621fb.8b4e2","type":"comment","z":"9abca741.1b19d8","name":"Writing analog outputs","info":"","x":160,"y":900,"wires":[]},{"id":"8676a2d6.5a34f","type":"modbus-write","z":"9abca741.1b19d8","name":"Outputs Digital","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"15","quantity":"1","server":"241697c1.60f0e8","emptyMsgOnFail":false,"keepMsgProperties":false,"x":400,"y":1400,"wires":[[],[]]},{"id":"9e16a226.a75e7","type":"modbus-write","z":"9abca741.1b19d8","name":"Outputs Digital","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"16","quantity":"1","server":"241697c1.60f0e8","emptyMsgOnFail":false,"keepMsgProperties":false,"x":400,"y":1460,"wires":[[],[]]},{"id":"7c5cccfd.605044","type":"modbus-write","z":"9abca741.1b19d8","name":"Outputs Digital","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"17","quantity":"1","server":"241697c1.60f0e8","emptyMsgOnFail":false,"keepMsgProperties":false,"x":400,"y":1520,"wires":[[],[]]},{"id":"cdca125f.32516","type":"modbus-write","z":"9abca741.1b19d8","name":"Outputs Digital","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"18","quantity":"1","server":"241697c1.60f0e8","emptyMsgOnFail":false,"keepMsgProperties":false,"x":400,"y":1580,"wires":[[],[]]},{"id":"5e6849e0.9f36b8","type":"modbus-write","z":"9abca741.1b19d8","name":"Outputs Digital","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"19","quantity":"1","server":"241697c1.60f0e8","emptyMsgOnFail":false,"keepMsgProperties":false,"x":400,"y":1640,"wires":[[],[]]},{"id":"fd74c8dd.b04068","type":"comment","z":"9abca741.1b19d8","name":"Writing digital outputs","info":"","x":160,"y":1340,"wires":[]},{"id":"479106b4.3a3458","type":"ui_switch","z":"9abca741.1b19d8","name":"YC06.SP","label":"YC06.SP","tooltip":"","group":"bb6bb6d1.046348","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":150,"y":1400,"wires":[["8676a2d6.5a34f"]]},{"id":"443c321.32ca4cc","type":"ui_switch","z":"9abca741.1b19d8","name":"YC07.SP","label":"YC07.SP","tooltip":"","group":"bb6bb6d1.046348","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":140,"y":1460,"wires":[["9e16a226.a75e7"]]},{"id":"50d4bfbe.dee9f","type":"ui_switch","z":"9abca741.1b19d8","name":"YC08.SP","label":"YC08.SP","tooltip":"","group":"bb6bb6d1.046348","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":140,"y":1520,"wires":[["7c5cccfd.605044"]]},{"id":"d70d6907.5d7218","type":"ui_switch","z":"9abca741.1b19d8","name":"YC09.SP","label":"YC09.SP","tooltip":"","group":"bb6bb6d1.046348","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":140,"y":1580,"wires":[["cdca125f.32516"]]},{"id":"a5d504f5.24f008","type":"ui_switch","z":"9abca741.1b19d8","name":"YC10.SP","label":"YC10.SP","tooltip":"","group":"bb6bb6d1.046348","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":140,"y":1640,"wires":[["5e6849e0.9f36b8"]]},{"id":"241697c1.60f0e8","type":"modbus-client","name":"Modbus","clienttype":"serial","bufferCommands":false,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":false,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"e917dabc.6439d8","type":"ui_group","name":"Analog Inputs","tab":"d734e9cd.c03318","order":1,"disp":true,"width":"6","collapse":false},{"id":"a2ae5cf1.48429","type":"ui_group","name":"Digital Inputs","tab":"d734e9cd.c03318","order":2,"disp":true,"width":"6","collapse":false},{"id":"37f8be19.0133e2","type":"ui_group","name":"Analog Outputs","tab":"d734e9cd.c03318","order":3,"disp":true,"width":"6","collapse":false},{"id":"bb6bb6d1.046348","type":"ui_group","name":"Digital Outputs","tab":"d734e9cd.c03318","order":4,"disp":true,"width":"6","collapse":false},{"id":"d734e9cd.c03318","type":"ui_tab","name":"JKLU","icon":"dashboard","disabled":false,"hidden":false}]