Chapter/P2_Arduino.json
[{"id":"9abca741.1b19d8","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"460feb38.9b7b64","type":"comment","z":"9abca741.1b19d8","name":"Reading analog inputs","info":"","x":400,"y":140,"wires":[]},{"id":"bd0e8c9e.d0c03","type":"modbus-read","z":"9abca741.1b19d8","name":"Inputs Modbus RTU","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"20","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"35baa702.c95748","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":110,"y":220,"wires":[["1b8127b9.6a2278","a7582084.8e89e","82e7a6c8.a1b508","eba08a49.346e48","56f523ca.d13fcc","9c2a59e3.d78de8","a21e9a6e.280968","1790e2b7.a3e9ed","7f1b9686.09eff8","99c702b7.704bd"],["64ae6e0e.3fe85"]]},{"id":"1b8127b9.6a2278","type":"change","z":"9abca741.1b19d8","name":"TC01.PV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":180,"wires":[["1a77b573.04bf7b"]]},{"id":"64ae6e0e.3fe85","type":"modbus-response","z":"9abca741.1b19d8","name":"","registerShowMax":20,"x":350,"y":920,"wires":[]},{"id":"1a77b573.04bf7b","type":"ui_gauge","z":"9abca741.1b19d8","name":"TI01","group":"e917dabc.6439d8","order":0,"width":"3","height":"3","gtype":"gage","title":"TI01","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":180,"wires":[]},{"id":"a7582084.8e89e","type":"change","z":"9abca741.1b19d8","name":"FC02.PV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":240,"wires":[["b61061e1.d855d"]]},{"id":"b61061e1.d855d","type":"ui_gauge","z":"9abca741.1b19d8","name":"FI02","group":"e917dabc.6439d8","order":0,"width":"3","height":"3","gtype":"gage","title":"FI02","label":"lts/min","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":240,"wires":[]},{"id":"82e7a6c8.a1b508","type":"change","z":"9abca741.1b19d8","name":"PC03.PV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[2]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":300,"wires":[["4dd74c63.497a64"]]},{"id":"4dd74c63.497a64","type":"ui_gauge","z":"9abca741.1b19d8","name":"PI03","group":"e917dabc.6439d8","order":0,"width":"3","height":"3","gtype":"gage","title":"PI03","label":"psi","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":300,"wires":[]},{"id":"eba08a49.346e48","type":"change","z":"9abca741.1b19d8","name":"SC04.PV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[3]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":360,"wires":[["1e986172.c1504f"]]},{"id":"1e986172.c1504f","type":"ui_gauge","z":"9abca741.1b19d8","name":"SI04","group":"e917dabc.6439d8","order":0,"width":"3","height":"3","gtype":"gage","title":"SI04","label":"RPM","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":360,"wires":[]},{"id":"56f523ca.d13fcc","type":"change","z":"9abca741.1b19d8","name":"YC06.PV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[10]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":580,"wires":[["f7b527d.e576cd8"]]},{"id":"f7b527d.e576cd8","type":"ui_gauge","z":"9abca741.1b19d8","name":"YI06","group":"a2ae5cf1.48429","order":0,"width":"2","height":"2","gtype":"donut","title":"YI06","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":580,"wires":[]},{"id":"6f7739e1.688408","type":"comment","z":"9abca741.1b19d8","name":"Reading digital inputs","info":"","x":380,"y":540,"wires":[]},{"id":"9c2a59e3.d78de8","type":"change","z":"9abca741.1b19d8","name":"YC07.PV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[11]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":640,"wires":[["a9a52cfb.cdf13"]]},{"id":"a9a52cfb.cdf13","type":"ui_gauge","z":"9abca741.1b19d8","name":"YI07","group":"a2ae5cf1.48429","order":0,"width":"2","height":"2","gtype":"donut","title":"YI07","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":640,"wires":[]},{"id":"a21e9a6e.280968","type":"change","z":"9abca741.1b19d8","name":"YC08.PV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[12]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":700,"wires":[["eed3e3ed.33f0f"]]},{"id":"eed3e3ed.33f0f","type":"ui_gauge","z":"9abca741.1b19d8","name":"YI08","group":"a2ae5cf1.48429","order":0,"width":"2","height":"2","gtype":"donut","title":"YI08","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":700,"wires":[]},{"id":"1790e2b7.a3e9ed","type":"change","z":"9abca741.1b19d8","name":"YC09.PV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[13]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":760,"wires":[["57f1815e.0e07c"]]},{"id":"57f1815e.0e07c","type":"ui_gauge","z":"9abca741.1b19d8","name":"YI09","group":"a2ae5cf1.48429","order":0,"width":"2","height":"2","gtype":"donut","title":"YI09","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":760,"wires":[]},{"id":"7f1b9686.09eff8","type":"change","z":"9abca741.1b19d8","name":"VC05.PV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[4]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":420,"wires":[["aa740359.0203"]]},{"id":"aa740359.0203","type":"ui_gauge","z":"9abca741.1b19d8","name":"VI04","group":"e917dabc.6439d8","order":0,"width":"3","height":"3","gtype":"gage","title":"VI04","label":"mm/s","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":420,"wires":[]},{"id":"99c702b7.704bd","type":"change","z":"9abca741.1b19d8","name":"YC10.PV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[14]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":820,"wires":[["327b7c62.bebce4"]]},{"id":"327b7c62.bebce4","type":"ui_gauge","z":"9abca741.1b19d8","name":"YI10","group":"a2ae5cf1.48429","order":0,"width":"2","height":"2","gtype":"donut","title":"YI10","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":820,"wires":[]},{"id":"ee389006.de1fe","type":"modbus-write","z":"9abca741.1b19d8","name":"Outputs Analog","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"5","quantity":"1","server":"35baa702.c95748","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1100,"y":180,"wires":[[],[]]},{"id":"dd15b705.780f88","type":"ui_slider","z":"9abca741.1b19d8","name":"","label":"TC01.SP","tooltip":"","group":"37f8be19.0133e2","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":870,"y":180,"wires":[["ee389006.de1fe"]]},{"id":"1681de4c.433ff2","type":"ui_slider","z":"9abca741.1b19d8","name":"","label":"FC02.SP","tooltip":"","group":"37f8be19.0133e2","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"150","step":1,"x":880,"y":260,"wires":[["5a9247a.cf21cb8"]]},{"id":"7ca1256e.edb2ac","type":"ui_slider","z":"9abca741.1b19d8","name":"","label":"PC03.SP","tooltip":"","group":"37f8be19.0133e2","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"200","step":1,"x":860,"y":340,"wires":[["29a3c9e1.60c7f6"]]},{"id":"e50ce91e.734178","type":"ui_slider","z":"9abca741.1b19d8","name":"","label":"SC04.SP","tooltip":"","group":"37f8be19.0133e2","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"1000","step":1,"x":860,"y":420,"wires":[["fd6e37a2.cc2a28"]]},{"id":"dc4fb48b.e81868","type":"ui_slider","z":"9abca741.1b19d8","name":"","label":"VC05.SP","tooltip":"","group":"37f8be19.0133e2","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"10","step":1,"x":860,"y":500,"wires":[["33402dcf.e83372"]]},{"id":"5a9247a.cf21cb8","type":"modbus-write","z":"9abca741.1b19d8","name":"Outputs Analog","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"6","quantity":"1","server":"35baa702.c95748","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1100,"y":260,"wires":[[],[]]},{"id":"29a3c9e1.60c7f6","type":"modbus-write","z":"9abca741.1b19d8","name":"Outputs Analog","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"7","quantity":"1","server":"35baa702.c95748","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1100,"y":340,"wires":[[],[]]},{"id":"fd6e37a2.cc2a28","type":"modbus-write","z":"9abca741.1b19d8","name":"Outputs Analog","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"8","quantity":"1","server":"35baa702.c95748","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1100,"y":420,"wires":[[],[]]},{"id":"33402dcf.e83372","type":"modbus-write","z":"9abca741.1b19d8","name":"Outputs Analog","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"9","quantity":"1","server":"35baa702.c95748","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1100,"y":500,"wires":[[],[]]},{"id":"9e6f10a0.e46c9","type":"comment","z":"9abca741.1b19d8","name":"Writing analog outputs","info":"","x":860,"y":140,"wires":[]},{"id":"d764e031.0c92a","type":"modbus-write","z":"9abca741.1b19d8","name":"Outputs Digital","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"15","quantity":"1","server":"35baa702.c95748","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1100,"y":680,"wires":[[],[]]},{"id":"aaf6c794.249b28","type":"modbus-write","z":"9abca741.1b19d8","name":"Outputs Digital","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"16","quantity":"1","server":"35baa702.c95748","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1100,"y":740,"wires":[[],[]]},{"id":"29f6e2a9.a000ee","type":"modbus-write","z":"9abca741.1b19d8","name":"Outputs Digital","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"17","quantity":"1","server":"35baa702.c95748","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1100,"y":800,"wires":[[],[]]},{"id":"5329e7a0.ffdc38","type":"modbus-write","z":"9abca741.1b19d8","name":"Outputs Digital","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"18","quantity":"1","server":"35baa702.c95748","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1100,"y":860,"wires":[[],[]]},{"id":"3c0d608e.68a49","type":"modbus-write","z":"9abca741.1b19d8","name":"Outputs Digital","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"19","quantity":"1","server":"35baa702.c95748","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1100,"y":920,"wires":[[],[]]},{"id":"428f63b.2b7369c","type":"comment","z":"9abca741.1b19d8","name":"Writing digital outputs","info":"","x":860,"y":620,"wires":[]},{"id":"6191ad99.e67ec4","type":"ui_switch","z":"9abca741.1b19d8","name":"YC06.SP","label":"YC06.SP","tooltip":"","group":"bb6bb6d1.046348","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":850,"y":680,"wires":[["d764e031.0c92a"]]},{"id":"fecfc336.ee84e","type":"ui_switch","z":"9abca741.1b19d8","name":"YC07.SP","label":"YC07.SP","tooltip":"","group":"bb6bb6d1.046348","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":840,"y":740,"wires":[["aaf6c794.249b28"]]},{"id":"e44834f6.47e358","type":"ui_switch","z":"9abca741.1b19d8","name":"YC08.SP","label":"YC08.SP","tooltip":"","group":"bb6bb6d1.046348","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":840,"y":800,"wires":[["29f6e2a9.a000ee"]]},{"id":"810fed37.8f1f2","type":"ui_switch","z":"9abca741.1b19d8","name":"YC09.SP","label":"YC09.SP","tooltip":"","group":"bb6bb6d1.046348","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":840,"y":860,"wires":[["5329e7a0.ffdc38"]]},{"id":"64320403.87ac7c","type":"ui_switch","z":"9abca741.1b19d8","name":"YC10.SP","label":"YC10.SP","tooltip":"","group":"bb6bb6d1.046348","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":840,"y":920,"wires":[["3c0d608e.68a49"]]},{"id":"234bdb94.5a6484","type":"modbus-read","z":"9abca741.1b19d8","name":"Inputs Modbus TCP","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"4","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"241697c1.60f0e8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":110,"y":460,"wires":[["cd08486e.5afeb8","22cf36ff.f5be4a"],[]]},{"id":"cd08486e.5afeb8","type":"change","z":"9abca741.1b19d8","name":"TC11.PV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":480,"wires":[["9b738e76.99ef4"]]},{"id":"9b738e76.99ef4","type":"ui_gauge","z":"9abca741.1b19d8","name":"TI01","group":"e917dabc.6439d8","order":0,"width":"3","height":"3","gtype":"gage","title":"TI11","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":480,"wires":[]},{"id":"4d59b535.60528c","type":"ui_slider","z":"9abca741.1b19d8","name":"","label":"FC12.SP","tooltip":"","group":"37f8be19.0133e2","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"150","step":1,"x":860,"y":560,"wires":[["3365226a.25908e"]]},{"id":"3365226a.25908e","type":"modbus-write","z":"9abca741.1b19d8","name":"Outputs Analog TCP","showStatusActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"1","quantity":"1","server":"241697c1.60f0e8","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1140,"y":560,"wires":[[],[]]},{"id":"3064c5e9.994afa","type":"modbus-write","z":"9abca741.1b19d8","name":"Outputs Digital TCP","showStatusActivities":false,"showErrors":false,"unitid":"2","dataType":"HoldingRegister","adr":"3","quantity":"1","server":"241697c1.60f0e8","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1130,"y":1000,"wires":[[],[]]},{"id":"46011ee5.a8319","type":"ui_switch","z":"9abca741.1b19d8","name":"YC14.SP","label":"YC14.SP","tooltip":"","group":"bb6bb6d1.046348","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":840,"y":1000,"wires":[["3064c5e9.994afa"]]},{"id":"22cf36ff.f5be4a","type":"change","z":"9abca741.1b19d8","name":"YC13.PV","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[2]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":880,"wires":[["82a9c795.3e1bc8"]]},{"id":"82a9c795.3e1bc8","type":"ui_gauge","z":"9abca741.1b19d8","name":"YI13","group":"a2ae5cf1.48429","order":0,"width":"2","height":"2","gtype":"donut","title":"YI13","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":880,"wires":[]},{"id":"35baa702.c95748","type":"modbus-client","name":"Modbus","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":false,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"e917dabc.6439d8","type":"ui_group","name":"Analog Inputs","tab":"d734e9cd.c03318","order":1,"disp":true,"width":"6","collapse":false},{"id":"a2ae5cf1.48429","type":"ui_group","name":"Digital Inputs","tab":"d734e9cd.c03318","order":2,"disp":true,"width":"6","collapse":false},{"id":"37f8be19.0133e2","type":"ui_group","name":"Analog Outputs","tab":"d734e9cd.c03318","order":3,"disp":true,"width":"6","collapse":false},{"id":"bb6bb6d1.046348","type":"ui_group","name":"Digital Outputs","tab":"d734e9cd.c03318","order":4,"disp":true,"width":"6","collapse":false},{"id":"241697c1.60f0e8","type":"modbus-client","name":"Modbus TCP","clienttype":"tcp","bufferCommands":false,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM6","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"2","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":false,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"d734e9cd.c03318","type":"ui_tab","name":"JKLU","icon":"dashboard","disabled":false,"hidden":false}]