Chapter/P3_OPC_UA.json
[{"id":"15024b71.713225","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c2ade163.f2715","type":"OpcUa-Client","z":"15024b71.713225","endpoint":"940210c6.f842","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":580,"y":120,"wires":[["151aeb2e.6bb0b5"]]},{"id":"67c21561.73e70c","type":"OpcUa-Item","z":"15024b71.713225","item":"ns=2;s=Tag11","datatype":"Int16","value":"","name":"","x":360,"y":120,"wires":[["c2ade163.f2715"]]},{"id":"881bd45b.60ca08","type":"inject","z":"15024b71.713225","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"readmultiple","payloadType":"str","x":150,"y":120,"wires":[["67c21561.73e70c","e5be1024.1814b","b3f3bb22.7d9e38","fa5bdd41.28302","22640b22.e9b2e4","fe246f45.be325","5ec052ec.858d7c","37c66f7c.c1b59","c1abf75f.207058","f629aa3c.a9eb58"]]},{"id":"7c5b5727.896848","type":"ui_text","z":"15024b71.713225","group":"a2d1ab2d.1bbfa8","order":0,"width":0,"height":0,"name":"","label":"Tag11 = ","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":100,"wires":[]},{"id":"e5be1024.1814b","type":"OpcUa-Item","z":"15024b71.713225","item":"ns=2;s=Tag12","datatype":"Int32","value":"","name":"","x":360,"y":180,"wires":[["c2ade163.f2715"]]},{"id":"c75572bd.999d7","type":"ui_text","z":"15024b71.713225","group":"a2d1ab2d.1bbfa8","order":0,"width":0,"height":0,"name":"","label":"Tag12 = ","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":160,"wires":[]},{"id":"b3f3bb22.7d9e38","type":"OpcUa-Item","z":"15024b71.713225","item":"ns=2;s=Tag13","datatype":"Int32","value":"","name":"","x":360,"y":240,"wires":[["c2ade163.f2715"]]},{"id":"e9390d3b.56c4a","type":"ui_text","z":"15024b71.713225","group":"a2d1ab2d.1bbfa8","order":0,"width":0,"height":0,"name":"","label":"Tag13 = ","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":220,"wires":[]},{"id":"fa5bdd41.28302","type":"OpcUa-Item","z":"15024b71.713225","item":"ns=2;s=Tag14","datatype":"UInt16","value":"","name":"","x":360,"y":300,"wires":[["c2ade163.f2715"]]},{"id":"ef0ea7f8.e9ed68","type":"ui_text","z":"15024b71.713225","group":"a2d1ab2d.1bbfa8","order":0,"width":0,"height":0,"name":"","label":"Tag14 = ","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":280,"wires":[]},{"id":"22640b22.e9b2e4","type":"OpcUa-Item","z":"15024b71.713225","item":"ns=2;s=Tag15","datatype":"UInt32","value":"","name":"","x":360,"y":360,"wires":[["c2ade163.f2715"]]},{"id":"aff0092b.e01948","type":"ui_text","z":"15024b71.713225","group":"a2d1ab2d.1bbfa8","order":0,"width":0,"height":0,"name":"","label":"Tag15 = ","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":340,"wires":[]},{"id":"fe246f45.be325","type":"OpcUa-Item","z":"15024b71.713225","item":"ns=2;s=Tag16","datatype":"UInt32","value":"","name":"","x":360,"y":420,"wires":[["c2ade163.f2715"]]},{"id":"d5160eed.7884d","type":"ui_text","z":"15024b71.713225","group":"a2d1ab2d.1bbfa8","order":0,"width":0,"height":0,"name":"","label":"Tag16 = ","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":400,"wires":[]},{"id":"5ec052ec.858d7c","type":"OpcUa-Item","z":"15024b71.713225","item":"ns=2;s=Tag17","datatype":"Double","value":"","name":"","x":360,"y":480,"wires":[["c2ade163.f2715"]]},{"id":"d4fac6be.84c3b8","type":"ui_text","z":"15024b71.713225","group":"a2d1ab2d.1bbfa8","order":0,"width":0,"height":0,"name":"","label":"Tag17 = ","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":460,"wires":[]},{"id":"37c66f7c.c1b59","type":"OpcUa-Item","z":"15024b71.713225","item":"ns=2;s=Tag18","datatype":"String","value":"","name":"","x":360,"y":540,"wires":[["c2ade163.f2715"]]},{"id":"591ca174.e7d5a","type":"ui_text","z":"15024b71.713225","group":"a2d1ab2d.1bbfa8","order":0,"width":0,"height":0,"name":"","label":"Tag18 = ","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":520,"wires":[]},{"id":"c1abf75f.207058","type":"OpcUa-Item","z":"15024b71.713225","item":"ns=2;s=Tag19","datatype":"Byte","value":"","name":"","x":360,"y":600,"wires":[["c2ade163.f2715"]]},{"id":"615303f4.66e05c","type":"ui_text","z":"15024b71.713225","group":"a2d1ab2d.1bbfa8","order":0,"width":0,"height":0,"name":"","label":"Tag19 = ","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":580,"wires":[]},{"id":"f629aa3c.a9eb58","type":"OpcUa-Item","z":"15024b71.713225","item":"ns=2;s=Tag20","datatype":"Boolean","value":"","name":"","x":360,"y":660,"wires":[["c2ade163.f2715"]]},{"id":"f07de844.442b18","type":"ui_text","z":"15024b71.713225","group":"a2d1ab2d.1bbfa8","order":0,"width":0,"height":0,"name":"","label":"Tag20 = ","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":640,"wires":[]},{"id":"151aeb2e.6bb0b5","type":"join","z":"15024b71.713225","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":750,"y":120,"wires":[["425c5d5a.4982c4","37e28944.e7e4a6","f347b656.52ccc8","d778e4a7.b022b8","c9a5559.2fdf7a8","aa0b24e4.29e6a8","bbb6f43a.93f6c8","a31f38d6.6f7538","a08efce0.c20e","668a42d7.bb9d4c"]]},{"id":"425c5d5a.4982c4","type":"change","z":"15024b71.713225","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":100,"wires":[["7c5b5727.896848"]]},{"id":"37e28944.e7e4a6","type":"change","z":"15024b71.713225","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":160,"wires":[["c75572bd.999d7"]]},{"id":"f347b656.52ccc8","type":"change","z":"15024b71.713225","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[2]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":220,"wires":[["e9390d3b.56c4a"]]},{"id":"d778e4a7.b022b8","type":"change","z":"15024b71.713225","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[3]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":280,"wires":[["ef0ea7f8.e9ed68"]]},{"id":"c9a5559.2fdf7a8","type":"change","z":"15024b71.713225","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[4]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":340,"wires":[["aff0092b.e01948"]]},{"id":"aa0b24e4.29e6a8","type":"change","z":"15024b71.713225","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[5]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":400,"wires":[["d5160eed.7884d"]]},{"id":"bbb6f43a.93f6c8","type":"change","z":"15024b71.713225","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[6]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":460,"wires":[["d4fac6be.84c3b8"]]},{"id":"a31f38d6.6f7538","type":"change","z":"15024b71.713225","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[7]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":520,"wires":[["591ca174.e7d5a"]]},{"id":"a08efce0.c20e","type":"change","z":"15024b71.713225","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[8]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":580,"wires":[["615303f4.66e05c"]]},{"id":"668a42d7.bb9d4c","type":"change","z":"15024b71.713225","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[9]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":640,"wires":[["f07de844.442b18"]]},{"id":"940210c6.f842","type":"OpcUa-Endpoint","endpoint":"opc.tcp://gustavosanchez:62640/IntegrationObjects/ServerSimulator","secpol":"None","secmode":"None","login":false},{"id":"a2d1ab2d.1bbfa8","type":"ui_group","name":"G1","tab":"7e186097.1b31c","order":1,"disp":true,"width":"6","collapse":false},{"id":"7e186097.1b31c","type":"ui_tab","name":"OPC_UA","icon":"dashboard","disabled":false,"hidden":false}]